body {
    margin: 10px 10px 10px 10px;
}

iframe {
    border-width: 0px;
}

.headerlink {
    color: #eee;
}

#content {
    background-color: white;
    padding: 10px;
    width: calc(100% - 20px);
}

a {
    color: #067;
    border-bottom: 1px dotted;
    text-decoration: none;   /* taken care of with the border-bottom thing */
}

a:hover {
    color: #852;
    border-bottom: 1px solid;
}

#sidebar {
    width: 220px;
    float: right;

    border: 5px solid #fff;
    border-radius: 10px;
    background-color: #555;
    color: white;
    margin-left: 10px;
    margin-right: -15px;
    padding: 12px;
}

#sidebar a {
    color: #09f;
}

#sidebar a:hover {
    color: #d93;
    border-bottom: 1px solid;
}

#sidebar h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#sidebar ul {
    margin-top: 0px;
    margin-bottom: 1em;
}

.box {
    border-radius: 10px;
    padding: 15px;
}
.graybox { background-color: #ccc; }
.redbox { background-color: #f88; }

@media only screen and (max-width: 600px) {
    #sidebar {
        float: none;
        border: none;
        margin-left: 0px;
        margin-right: 0px;
        width: calc(100% - 20px);
    }
    .box {
        width: calc(100% - 30px);
    }
}

.inlinemath {
    vertical-align: middle;
}

img.blockmath {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.highlight {
    padding: 1px 0px 1px 10px;
    border-radius: 10px;
}

code {
    white-space: nowrap;
    background-color: #eee;
    padding: 2px;
    border-radius: 5px;
    font-size: 0.9em;
}
.graybox code, .redbox code {
    background-color: #bbb;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Quicksand;
}

p, li {
    font-family: Cabin;
    font-size: 1em;
    line-height: 140%;
}

small {
    font-size: 0.7em;
}

.indent {
    margin-left: 2em;
}

.sidebarblock {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.floatingbox {
    float: right;
    width: 35%;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    background-color: #fe9;
}

table {
    border: 1px solid;
    border-collapse: collapse;
}
th {
    border-bottom: 1px solid;
}
th, td {
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 3px;
}

.asymptote {
    margin: 15px;
}
